@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        @await Component.InvokeAsync("SliderImage")
    </div>
    <div class="row">
        @await Component.InvokeAsync("BestSelling")
    </div>
</div>
